In [1]:
import zipfile
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('enem2020\DADOS\MICRODADOS_ENEM_2020.csv',
                    sep = ';', decimal = ',',
                    encoding='iso-8859-1')

In [11]:
#Converter nota para Float
df.NU_NOTA_CN = df.NU_NOTA_CN.astype(float)
df.NU_NOTA_CH = df.NU_NOTA_CH.astype(float)
df.NU_NOTA_LC = df.NU_NOTA_LC.astype(float)
df.NU_NOTA_MT = df.NU_NOTA_MT.astype(float)

In [15]:
# 1) Qual é a média da nota em matemática dos alunos que estudaram numa escola em Minas Gerais?
df.loc[
    df.SG_UF_ESC =='MG'
    ].NU_NOTA_MT.describe()

count    46999.000000
mean       579.681223
std        124.704787
min          0.000000
25%        482.300000
50%        583.000000
75%        666.400000
max        975.000000
Name: NU_NOTA_MT, dtype: float64

In [16]:
# 2) Qual é a média da nota em Linguagens e 
# Códigos dos alunos que estudaram numa escola em Minas Gerais?
df.loc[
    df.SG_UF_ESC =='MG'
    ].NU_NOTA_LC.describe()

count    48575.000000
mean       553.010291
std         69.287383
min          0.000000
25%        513.700000
50%        560.300000
75%        601.200000
max        759.600000
Name: NU_NOTA_LC, dtype: float64

In [17]:
# 3) Qual é a média da nota em Ciências Humanas dos alunos do sexo FEMININO 
# que estudaram numa escola em Minas Gerais?

df.loc[
    (df.SG_UF_ESC =='MG') & (df.TP_SEXO =='F')
    ].NU_NOTA_CH.describe()

count    27313.000000
mean       541.308461
std         95.129390
min          0.000000
25%        470.900000
50%        546.700000
75%        613.500000
max        862.600000
Name: NU_NOTA_CH, dtype: float64

In [18]:
# 4) Qual é a média da nota em Ciências Humanas dos alunos do sexo MASCULINO
# que estudaram numa escola em Minas Gerais?

df.loc[
    (df.SG_UF_ESC =='MG') & (df.TP_SEXO =='M')
    ].NU_NOTA_CH.describe()

count    21262.000000
mean       559.554684
std         94.888096
min          0.000000
25%        498.000000
50%        569.300000
75%        627.800000
max        844.000000
Name: NU_NOTA_CH, dtype: float64

In [19]:
# 5) Qual é a média da nota em Matemática dos alunos do sexo FEMININO 
# que estudaram numa escola na cidade de Montes Claros?
df.loc[
    (df.NO_MUNICIPIO_ESC =='Montes Claros') & (df.TP_SEXO =='F')
    ].NU_NOTA_MT.describe()

count    842.000000
mean     562.988836
std      119.993797
min      329.200000
25%      470.175000
50%      568.500000
75%      647.400000
max      922.200000
Name: NU_NOTA_MT, dtype: float64

In [20]:
# 6) Qual é a média da nota em Matemática dos alunos que estudaram numa escola no município de Sabará 
# e que possuem TV por assinatura na residência?
df.loc[
    (df.NO_MUNICIPIO_ESC =='Sabará') & (df.Q021 =='B')
    ].NU_NOTA_MT.describe()

count     67.000000
mean     580.102985
std      121.578984
min      360.900000
25%      491.800000
50%      597.300000
75%      672.100000
max      803.900000
Name: NU_NOTA_MT, dtype: float64

In [21]:
# 7) Qual é a média da nota em Ciências Humanas dos alunos 
# que estudaram numa escola em Minas Gerais e que possuem dois fornos micro-ondas em casa?
df.loc[
    (df.SG_UF_ESC =='MG') & (df.Q016 =='C')
    ].NU_NOTA_CH.describe()

count    396.000000
mean     601.482576
std       92.434640
min      343.600000
25%      554.150000
50%      614.000000
75%      669.200000
max      794.000000
Name: NU_NOTA_CH, dtype: float64

In [22]:
# 8) Qual é a nota média em Matemática dos alunos 
# que estudaram numa escola em Minas Gerais e cuja mãe completou a pós-graduação?
df.loc[
    (df.SG_UF_ESC =='MG') & (df.Q002 =='G')
    ].NU_NOTA_MT.describe()

count    8483.000000
mean      642.245184
std       122.806820
min       328.200000
25%       561.050000
50%       648.800000
75%       726.550000
max       975.000000
Name: NU_NOTA_MT, dtype: float64

In [23]:
# 9) Qual é a nota média em Matemática dos alunos 
# que estudaram numa escola em Belo Horizonte ou em Conselheiro Lafaiete?
df.loc[
    (df.NO_MUNICIPIO_ESC =='Belo Horizonte') | (df.NO_MUNICIPIO_ESC =='Conselheiro Lafaiete')
    ].NU_NOTA_MT.describe()

count    8732.000000
mean      621.028252
std       132.600884
min         0.000000
25%       523.975000
50%       626.400000
75%       713.300000
max       975.000000
Name: NU_NOTA_MT, dtype: float64

In [24]:
# 10) Qual é a nota média em Ciências Humanas dos alunos
# que estudaram numa escola em Minas Gerais e que moram sozinhos?
df.loc[
    (df.SG_UF_ESC =='MG') & (df.Q005 == 1)
    ].NU_NOTA_CH.describe()

count    158.000000
mean     537.054430
std      116.166617
min        0.000000
25%      442.900000
50%      541.700000
75%      618.850000
max      758.200000
Name: NU_NOTA_CH, dtype: float64

In [25]:
# 11) Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais,
# cujo pai completou pós-graduação e possuem renda familiar entre R$ 8.360,01 e R$ 9.405,00?
df.loc[
    (df.SG_UF_ESC =='MG') & (df.Q001 == 'G') & (df.Q006 == 'L')
    ].NU_NOTA_CH.describe()

count    213.000000
mean     623.942254
std       86.300778
min        0.000000
25%      584.900000
50%      637.700000
75%      680.900000
max      769.900000
Name: NU_NOTA_CH, dtype: float64

In [26]:
# 12) Qual é a nota média em Matemática dos alunos do sexo Feminino
# que estudaram numa escola em Lavras e escolheram “Espanhol” como língua estrangeira?
df.loc[
    (df.NO_MUNICIPIO_ESC =='Lavras') & (df.TP_SEXO =='F') & (df.TP_LINGUA == 1)
    ].NU_NOTA_MT.describe()

count     96.000000
mean     513.383333
std      105.603841
min      341.400000
25%      425.875000
50%      505.600000
75%      593.675000
max      746.100000
Name: NU_NOTA_MT, dtype: float64

In [27]:
# 13) Qual é a nota média em Matemática dos alunos do sexo Masculino
# que estudaram numa escola em Ouro Preto?
df.loc[
    (df.NO_MUNICIPIO_ESC =='Ouro Preto') & (df.TP_SEXO =='M')
    ].NU_NOTA_MT.describe()

count    136.000000
mean     615.582353
std       98.424854
min      379.100000
25%      543.175000
50%      628.400000
75%      686.100000
max      821.000000
Name: NU_NOTA_MT, dtype: float64

In [28]:
# 14) Qual é a nota média em Ciências Humanas dos alunos
# que estudaram numa escola em Minas Gerais e possuem entre 26 e 30 anos?
df.loc[
    (df.SG_UF_ESC =='MG') & (df.TP_FAIXA_ETARIA == 11)
    ].NU_NOTA_CH.describe()

count     77.000000
mean     473.477922
std       71.733505
min      344.900000
25%      420.500000
50%      466.700000
75%      525.400000
max      654.500000
Name: NU_NOTA_CH, dtype: float64

In [14]:
# 15) Qual é a nota média em Matemática dos alunos do sexo FEMININO,
# que estudaram numa escola em Belo Horizonte, Sabará, Nova Lima ou Betim e estudaram em uma escola privada?
df.loc[
    (df.TP_SEXO =='F') & 
    ((df.NO_MUNICIPIO_ESC =='Belo Horizonte') | 
    (df.NO_MUNICIPIO_ESC =='Sabará') |
    (df.NO_MUNICIPIO_ESC =='Nova Lima') |
    (df.NO_MUNICIPIO_ESC =='Betim')) &
    (df.TP_ESCOLA == 3)
    ].NU_NOTA_MT.describe()

count    2084.000000
mean      679.136948
std       112.662700
min       334.000000
25%       605.800000
50%       681.900000
75%       758.925000
max       975.000000
Name: NU_NOTA_MT, dtype: float64