In [1]:
import pandas as pd
import numpy as np

In [98]:
users = pd.read_csv('datasets\worldwide internet users - users.csv')
speed = pd.read_csv('datasets\worldwide internet speed in 2022  - avg speed.csv')
prices = pd.read_csv('datasets\worldwide internet prices in 2022 - IN 2022.csv')

In [121]:
len(speed)

144

Atividades
<ol>

<li>Criando uma função para converter país em continente, a partir do arquivo de 
usuários: </li>
<li>Abra o arquivo de usuários usando pandas;</li>
<li>Crie um dicionário chamado “mapeamento_continente”;</li>
 
 </ol>

In [75]:
mapeamento_continente = dict(users[["Country or area","Region"]].values)

1.3. Crie uma função "mapear"
O método recebe um pandas DataFrame e o nome de duas colunas desse 
dataframe (Uma representa o país, outro o continente). Ele percorre duas colunas 
em conjunto, inserindo 'mapeamento_continente' uma chave para cada país, com 
valor sendo o continente;

In [14]:
def mapear(dataframe, pais, continente):
    mapeardf = pd.read_csv(dataframe)
    mapeamento_continente = dict(users[[pais,continente]].values)

1.4. Crie uma função 'retorna_continente': 
<li>Que retorna o continente a partir do nome do país, recebido como um 
parâmetro;</li>
<li>Que use o dicionário 'mapeamento_continente';</li>
<li>Que use o bloco try/except para lidar com países que não existam dentro 
do dicionário de mapeamento. Nesses casos, o método deve retornar 
None e printar a mensagem "Não existe esse país em nossa base"</li>

In [15]:
def retorna_continente(pais):
    try:
        return mapeamento_continente[pais]
    except:
        print('Não existe esse país em nossa base')
        return None

<ol>
<li>Adicionando a informação de continente na tabela de velocidades, a partir do 
mapeamento do arquivo de usuários;</li>
<li>Arquivo de velocidades: 'worldwide internet speed in 2022 - avg speed.csv'.
<li>Abra o arquivo de velocidades usando pandas;</li>
<li>Adicione uma nova coluna 'Continente' ao DataFrame
Use a função 'mapa_pais_Continente'.</li>
</ol>

In [99]:
speed['Continente'] = speed['Country'].apply(retorna_continente)

speed.head()

Não existe esse país em nossa base
Não existe esse país em nossa base
Não existe esse país em nossa base
Não existe esse país em nossa base
Não existe esse país em nossa base
Não existe esse país em nossa base
Não existe esse país em nossa base

       Country  Avg \n(Mbit/s)Ookla Continente
0       Canada                75.18   Americas
1  South Korea               117.95       Asia
2  Netherlands               108.33     Europe
3        Japan                44.05       Asia
4       Norway               134.73     Europe

<ol>
<li>Trabalhando com os dados de usuários de Internet;</li>
<li>Voltando ao arquivo de Usuários: 'worldwide internet users - users.csv'.</li>
<li>Abra o arquivo de usuários de internet novamente</li>
<li>Crie novas colunas do tipo 'int' para as colunas 'Population' e 'Internet users';</li>
    <ol>
    Dicas:
    <li>Existem valores faltantes na base, sendo necessário filtrar antes de fazer a 
    criação das novas colunas.</li> 
    </ol>
</ol>

In [129]:
users = users.dropna()

users.head()

,Country or area,Subregion,Region,Internet users,Population,Nova Internet users
0,China,Eastern Asia,Asia,"1,010,740,000","1,427,647,786",1010740000
1,India,Southern Asia,Asia,"833,710,000","1,352,642,280",833710000
2,United States,Northern America,Americas,"312,320,000","327,096,265",312320000
3,Indonesia,South-eastern Asia,Asia,"196,000,000","267,670,543",196000000
4,Brazil,South America,Americas,"160,010,801","209,469,323",160010801

In [130]:
users['Nova Internet users'] = users['Internet users'].str.replace(',','').astype(int)
users['Nova Population'] = users['Population'].str.replace(',','').astype(int)
users.head()

C:\Users\Patrick\AppData\Local\Temp\ipykernel_15604\927972281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['Nova Internet users'] = users['Internet users'].str.replace(',','').astype(int)
C:\Users\Patrick\AppData\Local\Temp\ipykernel_15604\927972281.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['Nova Population'] = users['Population'].str.replace(',','').astype(int)

,Country or area,Subregion,Region,Internet users,Population,Nova Internet users,Nova Population
0,China,Eastern Asia,Asia,"1,010,740,000","1,427,647,786",1010740000,1427647786
1,India,Southern Asia,Asia,"833,710,000","1,352,642,280",833710000,1352642280
2,United States,Northern America,Americas,"312,320,000","327,096,265",312320000,327096265
3,Indonesia,South-eastern Asia,Asia,"196,000,000","267,670,543",196000000,267670543
4,Brazil,South America,Americas,"160,010,801","209,469,323",160010801,209469323

In [136]:
users['Percentage'] = round(users['Nova Internet users'] / users['Nova Population'] * 100,2).astype(str) + '%'

users.head()

C:\Users\Patrick\AppData\Local\Temp\ipykernel_15604\2233878122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['Percentage'] = round(users['Nova Internet users'] / users['Nova Population'] * 100,2).astype(str) + '%'

,Country or area,Subregion,Region,Internet users,Population,Nova Internet users,Nova Population,Percentage
0,China,Eastern Asia,Asia,"1,010,740,000","1,427,647,786",1010740000,1427647786,70.8%
1,India,Southern Asia,Asia,"833,710,000","1,352,642,280",833710000,1352642280,61.64%
2,United States,Northern America,Americas,"312,320,000","327,096,265",312320000,327096265,95.48%
3,Indonesia,South-eastern Asia,Asia,"196,000,000","267,670,543",196000000,267670543,73.22%
4,Brazil,South America,Americas,"160,010,801","209,469,323",160010801,209469323,76.39%

Abaixo estão os códigos utilizados para a resolução do teste

In [76]:
retorna_continente('Brazil')

'Americas'

In [77]:
retorna_continente('Israel')

'Asia'

In [78]:
retorna_continente('Kyrgyzstan')

'Asia'

In [79]:
retorna_continente('Australia')

'Oceania'

In [120]:
print(len(speed[speed['Continente'].isna()]))
len(speed[speed['Continente'].notnull()])

7

137

In [122]:
speed['Avg \n(Mbit/s)Ookla'].mean()

36.36727272727273

In [124]:
speed.groupby('Continente')['Avg \n(Mbit/s)Ookla'].median()

Continente
Africa      17.95
Americas    20.67
Asia        24.48
Europe      49.66
Oceania     49.49
Name: Avg \n(Mbit/s)Ookla, dtype: float64

In [126]:
users.info

<bound method DataFrame.info of                                   Country or area           Subregion  \
0                                           China        Eastern Asia
1                                           India       Southern Asia
2                                   United States    Northern America
3                                       Indonesia  South-eastern Asia
4                                          Brazil       South America
..                                            ...                 ...
209  Saint Helena, Ascension and Tristan da Cunha      Western Africa
210                              Falkland Islands       South America
211                                    Montserrat           Caribbean
212                             Wallis and Futuna           Polynesia
213                                          Niue           Polynesia

       Region Internet users     Population
0        Asia  1,010,740,000  1,427,647,786
1        Asia    833,710,000  1,352,642,280
2    Americas    312,320,000    327,096,265
3        Asia    196,000,000    267,670,543
4    Americas    160,010,801    209,469,323
..        ...            ...            ...
209    Africa          2,906          6,035
210  Americas          2,881          3,234
211  Americas          2,833          4,993
212   Oceania          1,383         11,661
213   Oceania          1,034          1,620

[214 rows x 5 columns]>

In [131]:
users.dtypes

Country or area        object
Subregion              object
Region                 object
Internet users         object
Population             object
Nova Internet users     int32
Nova Population         int32
dtype: object

In [142]:
users = users.sort_values(by='Nova Internet users', ascending=True)

users.head()

,Country or area,Subregion,Region,Internet users,Population,Nova Internet users,Nova Population,Percentage
213,Niue,Polynesia,Oceania,"1,034","1,620",1034,1620,63.83%
212,Wallis and Futuna,Polynesia,Oceania,"1,383","11,661",1383,11661,11.86%
211,Montserrat,Caribbean,Americas,"2,833","4,993",2833,4993,56.74%
210,Falkland Islands,South America,Americas,"2,881","3,234",2881,3234,89.08%
209,"Saint Helena, Ascension and Tristan da Cunha",Western Africa,Africa,"2,906","6,035",2906,6035,48.15%

In [148]:
users['Proporção'] = round(users['Nova Internet users'] / users['Nova Population'] * 100,2)

users.head()

,Country or area,Subregion,Region,Internet users,Population,Nova Internet users,Nova Population,Percentage,Proporção
213,Niue,Polynesia,Oceania,"1,034","1,620",1034,1620,63.83%,63.83
212,Wallis and Futuna,Polynesia,Oceania,"1,383","11,661",1383,11661,11.86%,11.86
211,Montserrat,Caribbean,Americas,"2,833","4,993",2833,4993,56.74%,56.74
210,Falkland Islands,South America,Americas,"2,881","3,234",2881,3234,89.08%,89.08
209,"Saint Helena, Ascension and Tristan da Cunha",Western Africa,Africa,"2,906","6,035",2906,6035,48.15%,48.15

In [151]:
users.groupby('Region')['Proporção'].std()

Region
Africa      19.473284
Americas    19.883199
Asia        25.150710
Europe      10.747543
Oceania     27.296783
Name: Proporção, dtype: float64

In [158]:
users.loc[users['Proporção'] > 90].count()

Country or area        31
Subregion              31
Region                 31
Internet users         31
Population             31
Nova Internet users    31
Nova Population        31
Percentage             31
Proporção              31
dtype: int64

In [159]:
users.loc[(users['Proporção'] > 90) & (users['Nova Population']>5000000)].count()

Country or area        17
Subregion              17
Region                 17
Internet users         17
Population             17
Nova Internet users    17
Nova Population        17
Percentage             17
Proporção              17
dtype: int64

In [160]:
users.loc[users['Proporção'] < 10]

,Country or area,Subregion,Region,Internet users,Population,Nova Internet users,Nova Population,Percentage,Proporção
185,Eritrea,Eastern Africa,Africa,"66,402","3,452,786",66402,3452786,1.92%,1.92
183,Comoros,Eastern Africa,Africa,"69,020","832,322",69020,832322,8.29%,8.29
179,Guinea-Bissau,Western Africa,Africa,"73,148","1,874,303",73148,1874303,3.9%,3.90
172,Central African Republic,Middle Africa,Africa,"202,204","4,666,368",202204,4666368,4.33%,4.33
165,Somalia,Eastern Africa,Africa,"294,851","15,008,226",294851,15008226,1.96%,1.96
158,Liberia,Western Africa,Africa,"377,607","4,818,973",377607,4818973,7.84%,7.84
151,Congo,Middle Africa,Africa,"455,055","5,244,359",455055,5244359,8.68%,8.68
147,Burundi,Eastern Africa,Africa,"607,311","11,175,374",607311,11175374,5.43%,5.43
137,Chad,Middle Africa,Africa,"968,500","15,477,729",968500,15477729,6.26%,6.26
135,South Sudan,Eastern Africa,Africa,"1,003,542","10,975,927",1003542,10975927,9.14%,9.14
115,Niger,Western Africa,Africa,"2,194,985","22,442,831",2194985,22442831,9.78%,9.78
107,Madagascar,Eastern Africa,Africa,"2,505,948","26,262,313",2505948,26262313,9.54%,9.54
65,Democratic Republic of the Congo,Middle Africa,Africa,"7,011,507","84,068,091",7011507,84068091,8.34%,8.34